body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    margin: 5px;
}

li a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

nav li a:active {
    text-decoration: none;
    color: rgb(18, 17, 17);
}

nav li a:hover {
    color: rgb(34, 22, 22);
    text-decoration: none;
}

nav li a:visited {
    color: rgb(17, 17, 14);
    text-decoration: none;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

header h1 {
    margin-bottom: 10px;
}

header img {
    border-color: #0b0b0b;
    width: 150px;
    height: 150px;
}

.resume-button {
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #084a76;
    color: #fff;
    border-color: #000000;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(111, 208, 208);
    border-radius: 5px;
}

.msg {
    width: 50px 60px;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-size: 14px;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.msg input[type="text"] {
    width: 30%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #2ecc71;
    width: 30%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: #fff;
}

.myself {
    border: 2px solid black;
    display: inline-block;
    padding: 15px;
    margin: 15px 285px;
    background-color: aquamarine;
    border-radius: 10px;
    width: 50%;
}

.list {
    border: 2px solid black;
    padding: 26px;
    background-color: blanchedalmond;
    margin: 15px 285px;
    display: inline-block;
    border-radius: 30px;
    font-size: larger;
    width: 50%;
}

.contact {
    border: 2px solid black;
    background-color: rgb(152, 158, 154);
    display: inline-block;
    padding: 50px;
    margin-left: 606px;
    border-radius: 10px;
}